System.ApplicationID = pawseditor

; *******************
; * Part 1: Plugins *
; *******************

; NB1: An entry in the plug-in list looks like this:
;
; System.Plugins.InterfaceName[.additional] = PluginName
;
; The InterfaceName should be the same as the main interface
; that is implemented by this plugin (if any). If this plugin doesn't
; implement a specific interface (like BugPlug) then just use a logical
; name that is different from all other interfaces.
; If you use 'Systems.Plugins.InterfaceName' then this plugin will
; be marked as the default plugin implementing that interface in the
; object registry. This means that you can do CS_QUERY_REGISTRY (object_reg,
; InterfaceName) to find this plugin.
; If you use 'Systems.Plugins.InterfaceName.bla' then this plugin will
; be registered using the tag 'InterfaceName.bla' in the object registry.
; This is usually used for secondary plugins.
;
; Here are a few common interfaces:
;
; iVFS           the virtual file system
; iGraphics3D    standard graphics output
; iSoundRender   standard sound output
; iConsoleOutput the output console
; iEngine        the 3d engine
; iImageIO       the image loader
; iLoader        the level loader
;
;
; NB2: a specific driver can be omitted, if it is not used.
; For example, if you just omit the sound renderer, you will
; simply hear no sound, but the program will still run
;
; NB3: Plugins will be loaded in the same order they are listed
; here. This means that if, for example, a plugin needs the video
; driver during his initialization, it should come *after*
; video driver in the following section. Unless the plugin has a
; specific dependency in his registry

; First of all, the Virtual File System plug-in
System.Plugins.iVFS = crystalspace.kernel.vfs

; Video Driver
System.Plugins.iGraphics3D = crystalspace.graphics3d.opengl
;System.Plugins.iGraphics3D = crystalspace.graphics3d.software

; Document parser
System.Plugins.iDocumentSystem = crystalspace.documentsystem.multiplexer
System.Plugins.iDocumentSystem.1 = crystalspace.documentsystem.binary
System.Plugins.iDocumentSystem.2 = crystalspace.documentsystem.tinyxml

; Image Loader
System.Plugins.iImageIO = crystalspace.graphic.image.io.multiplexer

; Level Loader
System.Plugins.iLoader = crystalspace.level.loader

; Binary Sprite Loader
System.Plugins.iLoaderPlugin = crystalspace.mesh.loader.factory.sprite.3d.binary

; Now the Engine plug-in
System.Plugins.iEngine = crystalspace.engine.3d

; Additional plugins come here
;System.Plugins.iScript = crystalspace.script.python
;System.Plugins.iPerfstat = crystalspace.utilities.perfstat
;System.Plugins.iCollideSystem = crystalspace.collisiondetection.rapid
;System.Plugins.iFontServer = crystalspace.font.server.default
;System.Plugins.iFontServer = crystalspace.font.server.freetype2
; For using font multiplexer, uncomment the following three lines
System.Plugins.iFontServer = crystalspace.font.server.multiplexer
System.Plugins.iFontServer.1 = crystalspace.font.server.freetype2
System.Plugins.iFontServer.2 = crystalspace.font.server.default
Fontplex.Fonts.Default.*Fallback = /this/data/ttf/LiberationSans-Regular.ttf

; Planeshift plugins
System.Plugins.iSoundManager = crystalspace.planeshift.sound.soundmngr
;System.Plugins.iSoundManager = crystalspace.planeshift.sound.dummy

; ******************
; * Part 2: Config *
; ******************

VFS.Config = vfs.cfg

Engine.Lighting.Ambient.White = 30
Engine.Lighting.Ambient.Red = 0
Engine.Lighting.Ambient.Green = 0
Engine.Lighting.Ambient.Blue = 0

Engine.Lighting.LightmapSize = 16
Engine.Lighting.Reflections = 2
Engine.Lighting.CosinusFactor = 0
Engine.Lighting.Radiosity = no
Engine.Lighting.SpriteQuality = 1

Engine.Lighting.Radiosity.Enable = no
Engine.Lighting.Radiosity.DoStaticSpecular = no
Engine.Lighting.Radiosity.StaticSpecularAmount = 0.70
Engine.Lighting.Radiosity.StaticSpecularTightness = 4
Engine.Lighting.Radiosity.ColourBleed = 1.0
Engine.Lighting.Radiosity.StopPriority = 0.1
Engine.Lighting.Radiosity.StopImprovement = 100.0
Engine.Lighting.Radiosity.StopIterations = 10000
Engine.Lighting.Radiosity.SourcePatchSize = 16

; Use libshm if available (X-Windows only)
Video.XSHM = yes
; Simulate another depth (supported only by some video drivers)
;Video.SimulateDepth = 8
; Use system mouse cursor (yes) or software-simulated (no)
Video.SystemMouseCursor = yes

System.Win32.DebugConsole = yes

; Double click time in 1/1000 seconds
MouseDriver.DoubleClickTime = 300
; Maximal distance that mouse can move between clicks for double click to occur
MouseDriver.DoubleClickDist = 2
; For now its used only in DOS/DJGPP port
MouseDriver.MouseSensivity = 1.0



; ******************
; * Part 3: Game   *
; ******************

Planeshift.Mount.zipmapdir = /this/art/world/
Planeshift.Mount.modelzip = /this/art/models.zip
Planeshift.Mount.weaponzip = /this/art/things/weapons.zip
Planeshift.Mount.itemzip = /this/art/things/items.zip
Planeshift.Mount.azurezip = /this/art/things/azure_way.zip
Planeshift.Mount.bluezip = /this/art/things/blue_way.zip
Planeshift.Mount.brownzip = /this/art/things/brown_way.zip
Planeshift.Mount.crystalzip = /this/art/things/crystal_way.zip
Planeshift.Mount.darkzip = /this/art/things/dark_way.zip
Planeshift.Mount.redzip = /this/art/things/red_way.zip

Planeshift.Connection.Server = planeshift.fragnetics.com
Planeshift.Connection.Port = 13331

; number of seconds before timeout
Planeshift.Client.User.Connecttimeout = 60
Planeshift.Client.User.Persisttimeout = 3000

Planeshift.Language = english

; ******************
; *  User Config   *
; ******************

; Width/height of CrystalSpace visual
Video.ScreenWidth = 800
Video.ScreenHeight = 600

; Screen depth (currently supports 8, 15, 16, and 32 bits, NO 24 bits!)
Video.ScreenDepth = 32

; Use full-screen mode if available
Video.FullScreen = false

PlaneShift.GUI.Imagefile = /planeshift/data/pawseditor/imagelist.xml
Video.OpenGL.ClipRequired = PS0
Video.OpenGL.ClipOuter = SZP
Video.OpenGL.ClipOptional = PNS
PlaneShift.GUI.InfoWindow.Visible = true
PlaneShift.GUI.InfoWindow.PosX = 250
PlaneShift.GUI.InfoWindow.PosY = 204
PlaneShift.GUI.InfoWindow.Width = 209
PlaneShift.GUI.InfoWindow.Height = 270
PlaneShift.GUI.InfoWindow.MinTransparency = 0
PlaneShift.GUI.InfoWindow.MaxTransparency = 1
PlaneShift.GUI.InfoWindow.FadeSpeed = 4
PlaneShift.GUI.InfoWindow.Fade = true
PlaneShift.GUI.ChatWindow.Visible = true
PlaneShift.GUI.ChatWindow.PosX = 32
PlaneShift.GUI.ChatWindow.PosY = 163
PlaneShift.GUI.ChatWindow.Width = 669
PlaneShift.GUI.ChatWindow.Height = 272
PlaneShift.GUI.ChatWindow.MinTransparency = 0
PlaneShift.GUI.ChatWindow.MaxTransparency = 1
PlaneShift.GUI.ChatWindow.FadeSpeed = 1
PlaneShift.GUI.ChatWindow.Fade = true
PlaneShift.GUI.BuddyWindow.Visible = true
PlaneShift.GUI.BuddyWindow.PosX = 144
PlaneShift.GUI.BuddyWindow.PosY = 169
PlaneShift.GUI.BuddyWindow.MinTransparency = 0
PlaneShift.GUI.BuddyWindow.MaxTransparency = 1
PlaneShift.GUI.BuddyWindow.FadeSpeed = 1
PlaneShift.GUI.BuddyWindow.Fade = true
PlaneShift.GUI.HelpWindow.Visible = true
PlaneShift.GUI.HelpWindow.PosX = 75
PlaneShift.GUI.HelpWindow.PosY = 132
PlaneShift.GUI.HelpWindow.MinTransparency = 0
PlaneShift.GUI.HelpWindow.MaxTransparency = 1
PlaneShift.GUI.HelpWindow.FadeSpeed = 1
PlaneShift.GUI.HelpWindow.Fade = true
PlaneShift.GUI.GmGUI.Visible = false
PlaneShift.GUI.GmGUI.PosX = 34
PlaneShift.GUI.GmGUI.PosY = 116
PlaneShift.GUI.AddEditAction.Visible = false
PlaneShift.GUI.AddEditAction.PosX = 33
PlaneShift.GUI.AddEditAction.PosY = 124
PlaneShift.GUI.AddEditActionWindow.Visible = true
PlaneShift.GUI.AddEditActionWindow.PosX = 111
PlaneShift.GUI.AddEditActionWindow.PosY = 226
PlaneShift.GUI.DescriptionEdit.MinTransparency = 0
PlaneShift.GUI.DescriptionEdit.MaxTransparency = 1
PlaneShift.GUI.DescriptionEdit.FadeSpeed = 1
PlaneShift.GUI.DescriptionEdit.Fade = true
PlaneShift.GUI.GmGUI.MinTransparency = 0
PlaneShift.GUI.GmGUI.MaxTransparency = 1
PlaneShift.GUI.GmGUI.FadeSpeed = 1
PlaneShift.GUI.GmGUI.Fade = true
PlaneShift.GUI.AddEditActionWindow.MinTransparency = 0
PlaneShift.GUI.AddEditActionWindow.MaxTransparency = 1
PlaneShift.GUI.AddEditActionWindow.FadeSpeed = 1
PlaneShift.GUI.AddEditActionWindow.Fade = true
PlaneShift.GUI.ActiveMagicWindow.Visible = false
PlaneShift.GUI.ActiveMagicWindow.PosX = 117
PlaneShift.GUI.ActiveMagicWindow.PosY = 170
PlaneShift.GUI.peSkinSelector.Visible = true
PlaneShift.GUI.peSkinSelector.PosX = 50
PlaneShift.GUI.peSkinSelector.PosY = 50

