;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PlaneShift Configuration ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;

System.ApplicationID = psserver

;;;;;;;;;;;
; Plugins ;
;;;;;;;;;;;

; Core plugins
System.Plugins.iVFS = crystalspace.kernel.vfs
System.Plugins.iEngine = crystalspace.engine.3d
System.Plugins.iGraphics3D = crystalspace.graphics3d.null

; Important plugins
System.Plugins.iImageIO = crystalspace.graphic.image.io.multiplexer
System.Plugins.iLoader = crystalspace.level.loader

; Document parser
System.Plugins.iDocumentSystem = crystalspace.documentsystem.multiplexer
System.Plugins.iDocumentSystem.1 = crystalspace.documentsystem.tinyxml
System.Plugins.iDocumentSystem.2 = crystalspace.documentsystem.binary

; Additional plugins
;System.Plugins.iPerfstat = crystalspace.utilities.perfstat
System.Plugins.iCollideSystem = crystalspace.collisiondetection.opcode
System.Plugins.iFontServer = crystalspace.font.server.default
System.Plugins.iBgLoader = crystalspace.bgloader

; PlaneShift plugins
System.Plugins.iDataConnection = planeshift.database.mysql


;;;;;;;;;;;;;;;;;
; Configuration ;
;;;;;;;;;;;;;;;;;

VFS.Config = vfs.cfg
Video.Null.Canvas = crystalspace.graphics2d.null
System.Win32.DebugConsole = yes
Engine.RenderManager.Default = crystalspace.rendermanager.null

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PlaneShift-Specific Items ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

Planeshift.Database.host = localhost
Planeshift.Database.userid = planeshift
Planeshift.Database.password = planeshift
Planeshift.Database.name = planeshift

; Specify an address to which we want to bind the server to (0.0.0.0 = all
;   local addresses)
Planeshift.Server.Addr = 0.0.0.0
; The port the server is using
Planeshift.Server.Port = 13331

; Maximum number of concurent connections
Planeshift.Server.User.connectionlimit = 20

; Paladin configuration
;PlaneShift.Paladin.Enforcing = true
;PlaneShift.Paladin.Check.Warp = true
;PlaneShift.Paladin.Cheat.WarningCount = 3

Planeshift.Server.Status.Report = 0
Planeshift.Server.Status.Rate = 1000
Planeshift.Server.Status.LogFile = /this/report.xml
PlaneShift.Log.Any = false
PlaneShift.Log.Weather = false
PlaneShift.Log.Spawn = false
PlaneShift.Log.Cel = false
PlaneShift.Log.PAWS = false
PlaneShift.Log.Group = false
PlaneShift.Log.Cheat = false
PlaneShift.Log.Linmove = false
PlaneShift.Log.Spells = false
PlaneShift.Log.Newchar = false
PlaneShift.Log.Superclient = false
PlaneShift.Log.Exchanges = false
PlaneShift.Log.Admin = false
PlaneShift.Log.Startup = true
PlaneShift.Log.Character = false
PlaneShift.Log.Connections = false
PlaneShift.Log.Chat = false
PlaneShift.Log.Net = false
PlaneShift.Log.Load = false
PlaneShift.Log.NPC = false
PlaneShift.Log.Trade = false
PlaneShift.Log.Sound = false
PlaneShift.Log.Combat = false
PlaneShift.Log.SkillXP = false
PlaneShift.Log.Marriage = false
PlaneShift.Log.Messages = false
PlaneShift.Log.Quests = false
PlaneShift.Log.Script = false
PlaneShift.Log.Cache = false
PlaneShift.Log.DRData = false
PlaneShift.Log.ActionLocation = false
PlaneShift.Log.Relationships = false
PlaneShift.Log.Item = false
PlaneShift.Log.Hire = false

PlaneShift.LogCSV.File.Paladin = /this/logs/paladin.csv
PlaneShift.LogCSV.File.Exchanges = /this/logs/exchange.csv
PlaneShift.LogCSV.File.Authent = /this/logs/authent.csv
PlaneShift.LogCSV.File.Status = /this/logs/status.csv
PlaneShift.LogCSV.File.Advice = /this/logs/advice.csv
PlaneShift.LogCSV.File.Economy = /this/logs/economy.csv
PlaneShift.LogCSV.File.Stuck = /this/logs/stuck.csv
PlaneShift.LogCSV.File.SQL = /this/logs/sql.csv
PlaneShift.Log.Pets = false
PlaneShift.Log.User = false
PlaneShift.Log.Loot = false
PlaneShift.Log.Duels = false
PlaneShift.Log.Tribes = false
Planeshift.Server.User.LOG_STARTUP = true

PlaneShift.Loading.Cache = false
PlaneShift.Loading.ParseShaders = false
PlaneShift.Loading.OnlyPortals = true

PlaneShift.Log.Minigames = false
